# Backend API
NEXT_PUBLIC_API_URL=https://ite-api.istashkh.com/api/v1
BACKEND_URL=https://ite-api.istashkh.com

# Keycloak Configuration
NEXT_PUBLIC_KEYCLOAK_ISSUER=https://ite-keycloak.istashkh.com/realms/istash
KEYCLOAK_ADMIN_CLIENT_ID=istash-admin-service
KEYCLOAK_ADMIN_CLIENT_SECRET=replace-with-keycloak-admin-client-secret
KEYCLOAK_CLIENT_ISSUER=https://ite-keycloak.istashkh.com/realms/istash
KEYCLOAK_CLIENT_ID=istash-client
KEYCLOAK_CLIENT_SECRET=replace-with-keycloak-client-secret

# Better Auth Configuration
BETTER_AUTH_SECRET=replace-with-a-random-secret
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000
